.app__header {
  background-color: $brand-primary;
  color: #fff;
  padding: 30px 30px 50px;
  position: relative;

  @include md {
    background: $brand-primary url("#{$media-path}/icon.png") no-repeat 20px center;
    background-size: 96px;
  }

  h1 {
    font-size: 24px;
    font-weight: 100;
    margin-top: 0;
    text-align: center;

    @include md {
      font-size: 48px;
    }
  }

  h4 {
    font-weight: 100;
    margin-bottom: 0;
    text-align: center;

    a {
      color: #fff;
      text-decoration: underline;
    }
  }

  .help-toggle {
    background-color: #fff;
    border: 0;
    border-radius: 6px 6px 0 0;
    bottom: 0;
    color: $brand-primary;
    font-size: 12px;
    padding: 4px 12px;
    position: absolute;
    right: 15px;
    text-decoration: none;
  }
}
